body {
    padding: 0;
    margin: 0;
    border: none;
}

#registerForm input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(233, 233, 233);
}

.labels {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 16px;
    font-size: 18px;
    vertical-align: middle;
}

#registerForm input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    vertical-align: middle;
}


#countryDropdown,
#storeDropdown {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(216, 216, 216);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#countryDropdown:hover,
#storeDropdown:hover,
#fileUploadContainer:hover,
#fileUploadContainer2:hover {
    border: 2px solid black;
}

.registerBox {
    margin-top: 50px;
    max-width: 1200px;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

#fileUploadContainer,
#fileUploadContainer2 {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
  }

#fileUploadContainer #fileInputLabel,
#fileUploadContainer2 #fileInputLabel2 {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

#fileUpload,
#fileUpload2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#fileInputLabel
#fileInputLabel2 {
    pointer-events: none;
}